# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Builds / artifacts
build/
dist/
.cache/
.parcel-cache/
coverage/

# Environment / secrets
.env
.env.*
!.env.example

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.local
*.log
**/*.lognode_modules
